*{
    margin: 0;
    padding: 0;
}
button{
    background-color: #3144EF;
    color: white;
    border-radius: 11px;
    width: 55%;
}
button:hover{
    text-decoration: underline;
    transition: 1s;
    transition-timing-function: ease-in;
    font-weight: bolder;
}
.masonry {
    column-count: 4;
    column-gap: 20px;
}

.item {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
}