@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&family=Lora&family=Montserrat&family=Orbitron:wght@500&family=Protest+Riot&family=Reenie+Beanie&family=Sevillana&family=Source+Code+Pro&family=Style+Script&display=swap');
body
{
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

.majorContainer 
{
    position: absolute;
    height: 100%;
    width: 100%;
    /* Add your background pattern here */
    background-color: #0e0e0e;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
}

.blob1
{
    position: absolute;
    height: 450px;
    top: -55px;
    left: -45px;
    width: 450px;
    background: #235881;
    opacity: 0.8;
    filter: blur(55px);
    animation: slowRotate 40s linear infinite;
    border-radius: 40% 20px 75% 10px;
}
.blob2
{
    position: absolute;
    height: 450px;
    top: 60%;
    left: 70%;
    width: 450px;
    background: #3c2381;
    opacity: 0.8;
    filter: blur(55px);
    animation: slowRotate 40s linear infinite;
    border-radius: 40% 20px 75% 10px;
}


@keyframes slowRotate {
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}


.loginForm
{
    position: absolute;
    height: 85%;
    width: 30%;
    background: #092be92d;
    backdrop-filter:  blur(2px);
    border-radius: 25px;
    box-shadow: inset 51px 5px 140px #a8828259,
   0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   border: 1px solid rgba( 255, 255, 255, 0.18 );
    top: 50%; /*change to 50%*/
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.loginForm > .loginText
{
    position: absolute;
    top: 10px;
    text-shadow: 5px 0 5px #0e0e0e;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 5px;
}
.loginForm > p
{
  position: absolute;
  text-align: center;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffc;
  font-family: 'Source Code Pro', monospace;
  top: 20%;
}
.register
{
  position: absolute;
  left: 87%;
  top: 3%;
  color: #ffc;
  user-select: none;
  cursor: pointer;
  font-size: 2em;
}

.loginForm > .name-container::after, .loginForm > .name-container::before,
.loginForm > .password-container::after, .loginForm > .password-container::before
  
   {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
  }
  
  
  .loginForm > .name-container::before,
  .loginForm > .password-container::before
  {
    top: -1px;
    left: -1px;
    background: linear-gradient(0deg, rgb(218, 232, 247) 0%, rgb(255, 255, 255) 100%);
    z-index: -1;
  }
  
  .loginForm > .name-container::after,
  .loginForm > .password-container::after
   {
    bottom: -1px;
    right: -1px;
    background: linear-gradient(0deg, rgb(163, 206, 255) 0%, rgb(211, 232, 255) 100%);
    box-shadow: rgba(120, 79, 232, 0.702) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
    z-index: -2;
  }
  
  .loginForm > .input {
    padding: 10px;
    width: 100%;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    border: none;
    font-weight: 700;
    color: #3b3b3b;
    font-size: 20px;
    border-radius: 50px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 40px;
    font-family: 'Source Code Pro', monospace;
  }
  
  .loginForm > .input:focus {
    outline: none;
    background: linear-gradient(135deg, rgb(239, 247, 255) 0%, rgb(214, 229, 247) 100%);
  }



  .loginForm > .name-container {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    padding: 5px;
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
  }
  .loginForm > .name-container > ion-icon
  {
    position: absolute;
    left: 5%;
    font-size: 24px;
    color: #0e0e0e;
  }
  .loginForm > .name-container > input::placeholder
  {
    font-size: 15px;
    text-align: center;
  }


  .loginForm > .password-container {
    position: absolute;
    top: 50%;
    left: 3%;
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    padding: 5px;
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
  }
  .loginForm > .password-container > ion-icon
  {
    position: absolute;
    left: 5%;
    font-size: 24px;
    color: #0e0e0e;
  }
  .loginForm > .password-container .SeePwd
  {
    position: absolute;
    left: 90%;
    cursor: pointer;
    color: #00ca6c;
  }
  .loginForm > .password-container > input::placeholder
  {
    font-size: 15px;
    text-align: center;
  }

  .loginForm > .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    transform-origin: center;
    cursor: pointer;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-shadow: 0 0 2px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1) translateX(-50%);
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }



  .registerForm
{
    position: absolute;
    height: 85%;
    width: 30%;
    background: #092be92d;
    backdrop-filter:  blur(2px);
    border-radius: 25px;
    box-shadow: inset 51px 5px 140px #a8828259,
   0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   border: 1px solid rgba( 255, 255, 255, 0.18 );
    top: 50%; /*change to 50%*/
    transition: 0.5s;
    left: 50%;
    top: 150%; /* change to 50*/
    transform: translateX(-50%) translateY(-50%);
}
.registerForm > .registerText
{
    position: absolute;
    top: 10px;
    text-shadow: 5px 0 5px #0e0e0e;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 5px;
}
.registerForm > .name-container::after, .registerForm > .name-container::before,
.registerForm > .password-container::after, .registerForm > .password-container::before
  
   {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
  }
  
  .registerForm > .name-container::before,
  .registerForm > .password-container::before
  {
    top: -1px;
    left: -1px;
    background: linear-gradient(0deg, rgb(218, 232, 247) 0%, rgb(255, 255, 255) 100%);
    z-index: -1;
  }
  
  .registerForm > .name-container::after,
  .registerForm > .password-container::after
   {
    bottom: -1px;
    right: -1px;
    background: linear-gradient(0deg, rgb(163, 206, 255) 0%, rgb(211, 232, 255) 100%);
    box-shadow: rgba(120, 79, 232, 0.702) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
    z-index: -2;
  }
  
  .input {
    padding: 10px;
    width: 100%;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    border: none;
    font-weight: 700;
    color: #3b3b3b;
    font-size: 20px;
    border-radius: 50px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 40px;
    font-family: 'Source Code Pro', monospace;
  }
  
 .input:focus {
    outline: none;
    background: linear-gradient(135deg, rgb(239, 247, 255) 0%, rgb(214, 229, 247) 100%);
  }

.registerForm > p
{
  position: absolute;
  text-align: center;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffc;
  font-family: 'Source Code Pro', monospace;
  top: 15%;
}
.registerForm > .name-container {
    position: absolute;
    top: 25%;
    left: 3%;
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    padding: 5px;
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
  }
  .registerForm > .name-container > 
  {
    position: absolute;
    left: 5%;
    font-size: 24px;
    color: #0e0e0e;
  }
  .registerForm > .name-container > input::placeholder
  {
    font-size: 15px;
    text-align: center;
  }
  .registerForm > .name-container > ion-icon
  {
    position: absolute;
    left: 5%;
    font-size: 24px;
    color: #0e0e0e;
  }
  .registerForm > .name-container > .validUserName
  {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
    color: #004223;
    text-shadow: 0 0 15px #000f08;
    opacity: 0;
    transition: 0.5s;
    
  }


  .registerForm > .email-container > .validEmail
  {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
    color: #004223;
    text-shadow: 0 0 15px #000f08;
    opacity: 0;
    transition: 0.5s;
    
  }

  .registerForm > .email-container {
    position: absolute;
    top: 40%;
    left: 3%;
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    padding: 5px;
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
  }
  .registerForm > .email-container > ion-icon
  {
    position: absolute;
    left: 5%;
    font-size: 24px;
    color: #0e0e0e;
  }
  .registerForm > .email-container > input::placeholder
  {
    font-size: 15px;
    text-align: center;
  }
  .registerForm > .password-container > input
  {
    padding-right: 65px;
  }
  .registerForm > .confirmPassword-container > input
  {
    padding-right: 65px;
  }
  
  .registerForm > .password-container {
    position: absolute;
    top: 55%;
    left: 3%;
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    padding: 5px;
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
  }
  .registerForm > .password-container > ion-icon
  {
    position: absolute;
    left: 5%;
    font-size: 24px;
    color: #0e0e0e;
  }


  .registerForm .password-container #SeePwdReg {
    position: absolute;
    left: 84%;
    cursor: pointer;
    color: #00ca6c;
  }

  .registerForm > .confirmPassword-container > #SeePwdConf
  {
    position: absolute;
    left: 84%;
    cursor: pointer;
    color: #00ca6c;
  }


  
  .registerForm > .password-container > input::placeholder
  {
    font-size: 15px;
    text-align: center;
  }

  .registerForm > .password-container > .validPassword
  {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
    color: #ff0000;
    text-shadow: 0 0 15px #000f08;
    opacity: 0;
    transition: 0.5s;
    
  }

  .registerForm > .confirmPassword-container {
    position: absolute;
    top: 70%;
    left: 3%;
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    padding: 5px;
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
  }
  .registerForm > .confirmPassword-container > ion-icon
  {
    position: absolute;
    left: 5%;
    font-size: 24px;
    color: #0e0e0e;
  }
  .registerForm > .confirmPassword-container > input::placeholder
  {
    font-size: 15px;
    text-align: center;
  }

  .registerForm > .confirmPassword-container > .validPassword
  {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
    color: #ff0000;
    text-shadow: 0 0 15px #000f08;
    opacity: 0;
    transition: 0.5s;
    
  }


  
  .signup_button {
    position: absolute;
    top: 85%;
    left: 50%;
    border: none;
    outline: none;
    transform: translateX(-50%);
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    border-radius: 10em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    text-transform: normal;
    font-weight: 500;
    box-shadow: 0 0 1.6em rgba(183, 33, 255,0.3),0 0 1.6em hsla(191, 98%, 56%, 0.3);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .signup_button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 10em;
    right: 0.3em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .signup_button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .signup_button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #B721FF;
  }
  
  .signup_button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .signup_button:active .icon {
    transform: scale(0.9);
  }

  .login
  {
    position: absolute;
    left: 90%;
    top: 2%;
    color: #ffc;
    user-select: none;
    cursor: pointer;
    font-size: 2em;
  }
 
  /* ===============================================ANIMATION CSS=========================================================== */
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }